@model IEnumerable<User>

<table class="table table-primary table-bordered ">
    <thead>
        <tr>
            
            <th>Adı</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @if (!Model.Any())
       {
           <tr><td colspan="3" class="text-center">Kullanıcı Yok!</td> </tr>

       }
       else
       {
           foreach(var item in Model)
           {
    <tr>
        
        <td>@item.UserName</td>
        <td>@item.Email</td>
        <td>@item.PhoneNumber</td>
        <td>
            <form asp-route-id=@item.Id asp-action="Delete" method="post">
                <button type="submit" value="Sil" class="btn btn-danger"> Sil</button>
            </form>
        </td>
        <td>
            <form asp-route-id=@item.Id asp-action="Update" method="get">
                <button type="submit" value="Düzenle" class="btn btn-warning"> Düzenle</button>
            </form>
        </td>
    </tr>
           }
       }
    </tbody>

</table>

<a asp-action="Create" asp-controller="Admin" class="btn btn-primary">Kullanıcı Oluştur</a>